@tailwind base;
@tailwind components;
@tailwind utilities;

.hedaer1{
    background: #e1ebfa;
    width: 100%;
    padding-bottom: 2rem;
}
.img-header{
    border-radius: 57% 43% 70% 30% / 37% 53% 47% 63% ;
}
svg{
    display: inline-block;
}
.font-family{
    font-family: "Satisfy", cursive;
    font-size: 5rem;
    color: #a30000;
    background: linear-gradient(120deg, #fff3cd, #fff3cd);
    background-position: 0 80%;
    background-size: 100% 20%;
    background-repeat: no-repeat;
}
.section2{
    background-image: url(https://bootstrapbrain.com/demo/templates/wave/wave-lite/assets/img/cta/cta-img-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 99vh;
    filter: brightness(80%);
}
.span2{
    background: linear-gradient(120deg, #e4a0a1, #e4a0a1);
    background-position: 0 80%;
    background-size: 100% 20%;
    background-repeat: no-repeat;
}
.div-text{
    position: absolute;
    margin-top: -34rem;
    margin-left: 9% !important;
}
.custom-width-div{
    max-width: 1200px !important;
}
.div-img{
    transform: scale(1.2);
    transition: all 0.5s;
    border: 1px solid blue;
}
.div-main:hover .div-img{
    transform: scale(1);
}
.div-sub{
    opacity: 0;
    color: white;
    transition: all 0.5s;
}
.div-main:hover .div-sub{
    opacity: 1;
    background: rgba(0, 0, 0, 0.448);
}
.custom-div-bg{
    border-radius: 100%;
    margin: 0 auto;
    width: 100px;
    padding: 10px;
    height: 100px;
    text-align: center;
}


@media screen and (max-width: 640px) {
    .div-text{
        margin-top: -35rem;
        margin-left: 0 !important;
    }
    
}

@media screen and (max-width: 790px) {
    .div-main{
        width: 15rem;
    }
}